name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: make application.yml
        run: |
          mkdir -p ./src/main/resources
          echo "${{ secrets.APPLICATION }}" | base64 --decode > ./src/main/resources/application.yml

      - name: Make gcs-key.json
        run: |
          echo "${{ secrets.GCS_KEY_JSON }}" | base64 --decode > ./src/main/resources/gcs-key.json

      - name: Make firebase-service-account.json
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}" | base64 --decode > ./src/main/resources/firebase-service-account.json

      - name: Build with Gradle
        run: ./gradlew build

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: ${{ secrets.DOCKER_USERNAME }}/starthub-server:latest

  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: GCP SSH Run
  #       uses: appleboy/ssh-action@v1.0.3
  #       with:
  #         host: ${{ secrets.GCP_HOST }}
  #         username: ${{ secrets.GCP_USERNAME }}
  #         key: ${{ secrets.GCP_KEY }}
  #         script: |
  #           echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
  #           docker pull ${{ secrets.DOCKER_USERNAME }}/starthub-server:latest
  #           docker-compose down
  #           docker-compose up -d
# 
